.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    color: #fff;
    text-decoration: none;
}

@bg01: #374671;
@bg02: #37467125;
@border: #B59E4B;
@border01: 4px groove @border;
@border02: 4px groove @border;
@transBorder: #b59e4b8c;
@transWhite: #ffffff3a;


@1250: ~"only screen and (max-width: 1250px)";
@1000: ~"only screen and (max-width: 1000px)";
@850: ~"only screen and (max-width: 850px)";
@730: ~"only screen and (max-width: 730px)";
@500: ~"only screen and (max-width: 500px)";
@400: ~"only screen and (max-width: 400px)";