{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block popup %}
    <div class='popup'>
        <div class='cnt223'>
            <h1>Important Notice</h1>
            <p>Website is going through redesign at this time<br/>A temporary version is up at the following <a href="https://beedev-services.vercel.app/" target="_blank">link</a><br/>We should be back up and running in a week<br/><br/><a href='' class='close'>Close</a></p>
        </div>
    </div>
    {% endblock popup %}
</body>
</html>