{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block employeeHeader %}
        <header>
            <div class="row">
                <img src="https://images.craftsnherbs.com/logos/beedevNew.png" alt="BeeDev Logo">
                <div class="column">
                    <nav>
                        {% block menu %} {% include 'base/menu.html'  %} {% endblock menu %}
                    </nav>
                    <nav>
                        {% block employeeMenu %} {% include 'employeeBase/menu.html'  %} {% endblock employeeMenu %}
                    </nav>
                </div>
                
            </div>
            <h1>Let our Hive make a difference!!</h1>
        </header>
    {% endblock employeeHeader %}
</html>