{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block flash %}
        <div>
            {% if employee %}
                <span class="session">{{employee.firstName}}</span>
            {% elif client %}
                <span class="session">{{client.firstName}}</span>
            {% else %}
                <span class="session">Guest</span>
            {% endif %}
            {% if messages %}
            <section class='messages'>
                {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            </section>
            {% endif %}
        </div>
        <!-- {% block popup %} {% include 'base/popup.html' %} {% endblock popup %} -->
    {% endblock flash %}
</html>