{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block menu %}
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects">Past/Current Projects</a>
        <a href="/contact/">Contact</a>
        <a href="/services/">Services</a>
        {% if client  %}
            <!-- <a href="/client/dash/">Client Dashboard</a> -->
            <!-- <a href="/logout/">Logout</a> -->
        {% elif employee %}
            <!-- <a href="/company/dash/">Employee Dashboard</a> -->
            <!-- <a href="/logout/">Logout</a> -->
        {% else %}
            <a href="/client/">Client Portal</a>
            <a href="/company/">Employee Portal</a>
        {% endif %}
    {% endblock menu %}
</html>