{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block policyBlock  %}
        <div class="row">
            <div class="column">
                <a href="privacy/">Privacy Policy</a>
                <a href="disclaimer/">Disclaimer</a>
                <a href="cookie/">Cookies</a>
            </div>
            <div class="column">
                <a href="linking/">Linking Policy</a>
                <a href="refund/">Refund Policy</a>
                <a href="termsofuse/">Terms Of Use</a>
            </div>
        </div>
    {% endblock policyBlock  %}
</html>