.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #374671;
  border: 4px groove #B59E4B;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: #37467125;
  border: 4px groove #B59E4B;
  background-image: url('https://images.craftsnherbs.com/beedev/bg02new.png');
}
body main #tawk-iframe {
  width: 55%;
  height: 900px;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #374671;
  width: 95%;
  border: 4px groove #B59E4B;
}
