@import './less/base.less';
// @import 'popup.less';
// @import './compact.css';

body {
    .flexcolumn();

    header {
        .flexcolumn();
        width: 95%;
        background-color: @bg01;
        border: @border01;
        color: #fff;

        .row {
            .flexrow();
            width: 99%;
            justify-content: space-evenly;
            
            img {
                max-width: 300px;
            }
            nav {
                .flexrow();
                width: 70%;
                justify-content: space-around;

                .icon {
                    display: none;
                }

                a {
                    font-size: 1.2em;
                }

                #myLinks {
                    .flexrow();
                    width: 100%;
                    justify-content: space-around;
                }
            }
            .column {
                .flexcolumn();
                width: 60%;

                nav {
                    .flexrow();
                    width: 100%;
                    margin: 1.5em;
                    justify-content: space-between;
                }
            }
        }
    }
    main {
        .flexcolumn();
        width: 95%;
        background-color: @bg02;
        border: @border01;
        background-image: url('https://images.craftsnherbs.com/beedev/bg02new.png');

        p {
            width: 75%;
        }
        h2 {
            font-size: 1.7em;
        }
        h3 {
            font-size: 1.6em;
        }
        h4 {
            font-size: 1.4em;
        }
        .pMain {
            font-size: 1.3em;
            font-weight: 500;
        }
        ul {
            li {
                font-size: 1.3em;
                font-weight: 500;
                ul {
                    li {
                        font-size: 1.1em;
                        font-weight: 500;
                    }
                }
            }
        }
        .projects {
            .flexcolumn();
            border: @border01;
            max-width: 500px;
            padding: 1em;
            margin: 1em;
            background-color: @transWhite;
            
            .pMain {
                font-size: 1.3em;
                font-weight: 500;
            }
            a {
                color: @bg01;
                font-size: 1.2em;
                font-weight: 500;
            }
            
        }
        .row {
            .flexrow();
            width: 95%;

            .services {
                .flexcolumn();
                border: @border02;
                background-color: @transBorder;
                justify-content: space-between;
                margin: .5em;
                padding: .5em;
                height: 400px;
                min-width: 200px;
            }

            #login, #reg {
                .flexcolumn();
                margin: 2em;
                padding: 1.5em;
                width: 20%;
                border: @border01;

                section {
                    width: 100%;
                    .flexrow();
                    margin: 1em;
                    justify-content: space-between;
                }

                button {
                    background-color: @border;
                    color: @bg01;
                    padding: .5em;
                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
            .logReg {
                background-color: @border;
                color: @bg01;
                padding: .5em;
                font-size: 1em;
                font-weight: 700;

                a {
                    color: @bg01;
                    text-decoration: none;
                }
            }

            #reg {
                display: none;
            }

            #profile {
                max-width: 200px;
                border-radius: 50%;
                margin: .5em 1em;
            }
            .column {
                .flexcolumn();

                p {
                    text-align: center;

                    a {
                        color: @bg01;
                    }
                }
                h3 {
                    font-size: 1.6em;
                }
                h4 {
                    font-size: 1.4em;
                }
            }
        }
        .skills {
            align-items: flex-start;
            text-align: center;

            ul {
                text-align: left;
            }
        }
        .serviceRow {
            align-items: flex-start;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        #tawk-iframe {
            width: 55%;
            height: 900px;
        }
        .checkout {
            padding: 2em;
            border: @border01;
            margin-bottom: 2em;
            font-size: 1.2em;

            tr {
                td {
                    button {
                        
                        a {
                            color: @bg01;
                        }
                    }
                }
            }
        }
    }
    .row {
        .flexrow();
    }
    footer {
        .flexcolumn();
        background-color: @bg01;
        width: 95%;
        border: @border01;
        color: #fff;
        
        .row {
            .flexrow();
            width: 85%;

            .row {
                .flexrow();
                width: 50%;

                img {
                    max-height: 40px;
                    border-radius: 50%;
                    padding: .5em;
                    margin: .5em;
                }
            }
            .column {
                .flexcolumn();
                width: 50%;
            }
        }
    }
}

@import './less/media.less';