@import './less/base.less';
// @import 'popup.less';
// @import './compact.css';

body {
    .flexcolumn();

    header {
        .flexcolumn();
        width: 95%;
        background-color: @bg01;
        border: @border01;

        nav {
            .flexrow();
            margin: 1em;
            flex-wrap: wrap;
            width: 85%;
            justify-content: space-evenly;

            #myLinks {

                a {
                    text-decoration: none;
                    padding: 1em;
                    margin: .5em;
                    border-radius: 30%;
                    box-shadow: 5px 5px @lt02;
                    border: 1px solid @lt02;
                    color: @ltfont;
                    background-color: @ltbgtrasnarent;
                    font-weight: 900;
                }
                
            }
        }
    }
    main {
        .flexcolumn();
        width: 95%;
        background-color: @bg02;
        border: @border01;
        background-image: url('https://images.craftsnherbs.com/beedev/bg02new.png');

        #tawk-iframe {
            width: 55%;
            height: 900px;
        }
    }
    footer {
        .flexcolumn();
        background-color: @bg01;
        width: 95%;
        border: @border01;
    }
}

@import './less/media.less';