{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'base/head.html' %} {% endblock head %}
<body>
    {% if client %}
        {% block clientHeader %} {% include 'clientBase/header.html' %} {% endblock clientHeader %}
    {% elif employee %}
        {% block employeeHeader %} {% include 'employeeBase/header.html' %} {% endblock employeeHeader %}
    {% else %}
        {% block header %} {% include 'base/header.html' %} {% endblock header %}
    {% endif %}
    {% block flash %} {% include 'base/flash.html' %} {% endblock flash %}
    <main>
        <iframe id="tawk-iframe" src="https://tawk.to/beeDevServicesQuestions" frameborder="0"></iframe>
    </main>
    {% block footer %} {% include 'base/footer.html'  %} {% endblock %}
</body>
</html>