{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'base/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'base/header.html' %} {% endblock header %}
    {% block flash %} {% include 'base/flash.html' %} {% endblock flash %}
    <main>
        <h1>Trust our Hive with your website needs while keeping in touch with who you are</h1>
        <p class="pMain">
            Bee hives are created by the work of the entire colony of Bee's. Here at BeeDev Services so do we.  We can provide tailor-made solutions because we see our clients as partners and co-creators.  It all starts from 1st Contact
        </p>
        <p class="pMain">
            Once you reach out we listen to you and your ideas.  We have the skills, but you know your needs better than we do.  
        </p>
        <p class="pMain">
            We offer updates on the progress as often as you want them. We involve you in every step that you want to be a part of.
        </p>
        <h2>Our commitment:</h2>
        <p class="pMain">We promise to keep our clients informed and in the loop through out the process and explain the why if something had to change.  We promise to produce quality unique websites for our customers.</p>
        <h2>Currently we have staff that is proficient in the following technologies:</h2>
        <ul>
            <li>Web Development Languages:
                <ul>
                    <li>Java</li>
                    <li>React</li>
                    <li>Vite</li>
                    <li>Express/Node</li>
                    <li>Python</li>
                    <li>Flask</li>
                    <li>Django</li>
                    <li>C#</li>
                    <li>Wordpress</li>
                </ul>
            </li>
            <li>Internal Documentation / sites:
                <ul>
                    <li>websites</li>
                    <li>Sites like HackMd or Notion</li>
                </ul>
            </li>
            <li>IT skills:
                <ul>
                    <li>Setting up networks</li>
                    <li>Adding to networks</li>
                    <li>Intranet</li>
                </ul>
            </li>
        </ul>
        <h2>Service Highlights:</h2>
        <h3>Customer and/or Employee Facing Websites / Tools</h3>
        <ul>
            <li>Packages can include any combination of the following:
                <ul>
                    <li>Design / Develop</li>
                    <li>Maintain</li>
                    <li>Update</li>
                    <li>Repair</li>
                </ul>
            </li>
        </ul>
    </main>
    {% block footer %} {% include 'base/footer.html'  %} {% endblock footer %}
</body>
</html>