{% load static %}
{% load cart %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'base/head.html' %} {% endblock head %}
<body>
    {% if client %}
        {% block clientHeader %} {% include 'clientBase/header.html' %} {% endblock clientHeader %}
    {% elif employee %}
        {% block employeeHeader %} {% include 'employeeBase/header.html' %} {% endblock employeeHeader %}
    {% else %}
        {% block header %} {% include 'base/header.html' %} {% endblock header %}
    {% endif %}
    
    {% block flash %} {% include 'base/flash.html' %} {% endblock flash %}
    <main>
        <h2>Our Services</h2>
        <nav>
            {% for service in services %}
                {% if service.packageType == "Website Only" %}

                {% endif %}
            {% endfor %}
        </nav>
        <h2>Website Only</h2>
        <div class="row serviceRow">
            {% for service in services %}
                {% if service.packageType == "Websites" %}
                    <div class="services">
                        <h2>{{service.title}}</h2>
                        <p class="pMain">{{service.package}}</p>
                        {% if services.quoteNeeded == True %}
                            <p class="pMain">Request Quote</p>
                        {% else %}
                            <p class="pMain">Price: ${{service.price}}</p>
                        {% endif %}
                        <ul>
                            {% for info in infos %}
                                {% if service.id == info.service_id %}
                                    <li>{{info.info}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="pMain">{{services.timeFrame}}</p>
                        {% if service.id|inTheCart:request.session.cart %}
                            <div class="row">
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="remove" value="True">
                                    <button> - </button>
                                </form>
                                <button>{{service.id|prodQuantity:request.session.cart}}</button>
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="add" value="True">
                                    <button> + </button>
                                </form>
                            </div>
                        {% else %}
                            <form action="/cart/update/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{service.id}}">
                                <input type="hidden" name="price" value="{{service.price}}">
                                <input type="hidden" name="new" value="True">
                                <button> Add to Cart </button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
        {% endfor %}
        </div>
        <h2>Add On Services</h2>
        <div class="row serviceRow">
            {% for service in services %}
                {% if service.packageType == "Add Ons" %}
                    <div class="services">
                        <h2>{{service.title}}</h2>
                        <p class="pMain">{{service.package}}</p>
                        {% if services.quoteNeeded == True %}
                            <p class="pMain">Request Quote</p>
                        {% else %}
                            <p class="pMain">Price: ${{service.price}}</p>
                        {% endif %}
                        <ul>
                            {% for info in infos %}
                                {% if service.id == info.service_id %}
                                    <li>{{info.info}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="pMain">{{services.timeFrame}}</p>
                        {% if service.id|inTheCart:request.session.cart %}
                            <div class="row">
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="remove" value="True">
                                    <button> - </button>
                                </form>
                                <button>{{service.id|prodQuantity:request.session.cart}}</button>
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="add" value="True">
                                    <button> + </button>
                                </form>
                            </div>
                        {% else %}
                            <form action="/cart/update/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{service.id}}">
                                <input type="hidden" name="price" value="{{service.price}}">
                                <input type="hidden" name="add" value="True">
                                <button> + </button>
                            </form>
                        {% endif %}
                    </div>                    
                {% endif %}
            {% endfor %}
        </div>
        <h2>Maintenance Packages</h2>
        <div class="row serviceRow">
            {% for service in services %}
                {% if service.packageType == "Maintenance" %}
                    <div class="services">
                        <h2>{{service.title}}</h2>
                        <p class="pMain">{{service.package}}</p>
                        {% if services.quoteNeeded == True %}
                            <p class="pMain">Request Quote</p>
                        {% else %}
                            <p class="pMain">Price: ${{service.price}}</p>
                        {% endif %}
                        <ul>
                            {% for info in infos %}
                                {% if service.id == info.service_id %}
                                    <li>{{info.info}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="pMain">{{services.timeFrame}}</p>
                        {% if service.id|inTheCart:request.session.cart %}
                            <div class="row">
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="remove" value="True">
                                    <button> - </button>
                                </form>
                                <button>{{service.id|prodQuantity:request.session.cart}}</button>
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="add" value="True">
                                    <button> + </button>
                                </form>
                            </div>
                        {% else %}
                            <form action="/cart/update/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{service.id}}">
                                <input type="hidden" name="price" value="{{service.price}}">
                                <input type="hidden" name="add" value="True">
                                <button> + </button>
                            </form>
                        {% endif %}
                    </div>
                    
                {% endif %}
                
            {% endfor %}
        </div>
        <h2>Career Services Packages</h2>
        <div class="row serviceRow">
            {% for service in services %}
                {% if service.packageType == "Career" %}
                    <div class="services">
                        <h2>{{service.title}}</h2>
                        <p class="pMain">{{service.package}}</p>
                        {% if services.quoteNeeded == True %}
                            <p class="pMain">Request Quote</p>
                        {% else %}
                            <p class="pMain">Price: ${{service.price}}</p>
                        {% endif %}
                        <ul>
                            {% for info in infos %}
                                {% if service.id == info.service_id %}
                                    <li>{{info.info}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="pMain">{{services.timeFrame}}</p>
                        {% if service.id|inTheCart:request.session.cart %}
                            <div class="row">
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="remove" value="True">
                                    <button> - </button>
                                </form>
                                <button>{{service.id|prodQuantity:request.session.cart}}</button>
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="add" value="True">
                                    <button> + </button>
                                </form>
                            </div>
                        {% else %}
                            <form action="/cart/update/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{service.id}}">
                                <input type="hidden" name="price" value="{{service.price}}">
                                <input type="hidden" name="add" value="True">
                                <button> + </button>
                            </form>
                        {% endif %}
                    </div>
                    
                {% endif %}
                
            {% endfor %}
        </div>
        <h2>Tutoring Packages</h2>
        <div class="row serviceRow">
            {% for service in services %}
                {% if service.packageType == "Tutoring" %}
                    <div class="services">
                        <h2>{{service.title}}</h2>
                        <p class="pMain">{{service.package}}</p>
                        {% if services.quoteNeeded == True %}
                            <p class="pMain">Request Quote</p>
                        {% else %}
                            <p class="pMain">Price: ${{service.price}}</p>
                        {% endif %}
                        <ul>
                            {% for info in infos %}
                                {% if service.id == info.service_id %}
                                    <li>{{info.info}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="pMain">{{services.timeFrame}}</p>
                        {% if service.id|inTheCart:request.session.cart %}
                            <div class="row">
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="remove" value="True">
                                    <button> - </button>
                                </form>
                                <button>{{service.id|prodQuantity:request.session.cart}}</button>
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="add" value="True">
                                    <button> + </button>
                                </form>
                            </div>
                        {% else %}
                            <form action="/cart/update/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{service.id}}">
                                <input type="hidden" name="price" value="{{service.price}}">
                                <input type="hidden" name="add" value="True">
                                <button> + </button>
                            </form>
                        {% endif %}
                    </div>
                    
                {% endif %}
                
            {% endfor %}
        </div>
        <h2>All Inclusive Packages</h2>
        <div class="row serviceRow">
            {% for service in services %}
                {% if service.packageType == "All Inclusive" %}
                    <div class="services">
                        <h2>{{service.title}}</h2>
                        <p class="pMain">{{service.package}}</p>
                        {% if services.quoteNeeded == True %}
                            <p class="pMain">Request Quote</p>
                        {% else %}
                            <p class="pMain">Price: ${{service.price}}</p>
                        {% endif %}
                        <ul>
                            {% for info in infos %}
                                {% if service.id == info.service_id %}
                                    <li>{{info.info}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p class="pMain">{{services.timeFrame}}</p>
                        {% if service.id|inTheCart:request.session.cart %}
                            <div class="row">
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="remove" value="True">
                                    <button> - </button>
                                </form>
                                <button>{{service.id|prodQuantity:request.session.cart}}</button>
                                <form action="/cart/update/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="service_id" value="{{service.id}}">
                                    <input type="hidden" name="price" value="{{service.price}}">
                                    <input type="hidden" name="add" value="True">
                                    <button> + </button>
                                </form>
                            </div>
                        {% else %}
                            <form action="/cart/update/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{service.id}}">
                                <input type="hidden" name="price" value="{{service.price}}">
                                <input type="hidden" name="add" value="True">
                                <button> + </button>
                            </form>
                        {% endif %}
                    </div>
                    
                {% endif %}
                
            {% endfor %}
        </div>
    </main>
    {% block footer %} {% include 'base/footer.html'  %} {% endblock %}
</body>
</html>