{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block footer %}
        <div class="row">
            <div class="row">
                <img src="https://images.craftsnherbs.com/beedev/bee-icon.jpg" alt="BeeIcon">
                <a href="https://github.com/beedevservices" target="_blank"><img src="https://images.craftsnherbs.com/icons/github.png" alt="Github"></a>
                <a href="https://www.linkedin.com/in/melissa-longenberger/" target="_blank"><img src="https://images.craftsnherbs.com/icons/linkedin.png" alt="LinkedIn"></a>
            </div>
            <div class="column">
                <h4>Created by BeeDev Services &copy; 2020</h4>
                <h4>Located in Columbia County, PA</h4>
            </div>
        </div>
    {% endblock footer %}
</body>
</html>