{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="shortcut icon" href="https://images.craftsnherbs.com/bee/IMG_0992.jpg" type="image/x-icon">
    <title>BeeDev Services</title>
</head>
<body>
    <header>
        {% block mainHeader %} {% include 'base/mainHeader.html' %} {% endblock mainHeader %}
    </header>
    <div class="messages">
        {% if messages %}
            {% for m in messages %}
                <h5>{{m}}</h5>
            {% endfor %}
        {% endif %}
    </div>
    {% block popup %}
    {% include 'base/popup.html'   %}
{% endblock popup %}
    <main>
    </main>
    <footer>
        {% block footer %} {% include 'base/footer.html'  %} {% endblock %}
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src='{% static "js/scripts.js"%}'></script>
</body>
</html>